@import 'tailwindcss';



  /* roboto-300 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./public/fonts/roboto-v47-latin-300.woff2') format('woff2');
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./public/fonts/roboto-v47-latin-regular.woff2') format('woff2');
  }
  
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./public/fonts/roboto-v47-latin-500.woff2') format('woff2');
  }
  
  /* roboto-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('./public/fonts/roboto-v47-latin-600.woff2') format('woff2');
  }
  
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./public/fonts/roboto-v47-latin-700.woff2') format('woff2');
  }
  

body {
  font-family: Poppins, sans-serif;
}

